/* css for 83 html file*/

*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background: #566c2b;
    display: flex;
    align-items: center;
    padding: 15px 0;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
header a{
    color: #fff;
    font-size: 30px;
}
#logo{
    margin: 0  auto;
}
#menu li{
    padding: 10px;

}
#socal-links li{
    padding: 10px;
}
#main{
    display: flex;
}
aside{
    padding: 10px;
    flex: 0 0 20vw;
    background: beige;
}
aside ul{
    list-style: none;
    padding: 0px;
}
aside ul a{
    color: #566c2b;
    padding: 10px;
    display: block;
    border-bottom: 1px solid gray;

}
aside img{
    width: 100%;
}
article{
    padding: 10px;
}

.services-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-box{
    border:1px solid #eee;
    flex-basis:32% ;
    max-width: 370px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box p{
    margin: 0 0 10px;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a{
    background: gray;
    color: white;
    padding: 8px 13 px;
    border: 2px solid transparent;
    display: block;
}

.call-to-action a:hover{
    color: gray;
    background: transparent;
    border: 2px solid gray;
}
.service-box img{
    width: 100%;
}

footer{
    background: #566c2b;
    color: #fff;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 850px) {
    .service-box{
        flex-basis:48% ;
    }
aside{
    flex: 0 0 30vw;
}
    
}

@media screen and (max-width: 600px) {
   header{
    flex-direction: column;
   }
   #logo{
    order: -1;
   }
   #main{
    flex-direction: column;
   }
   artical{
    order: -1;
   }
   .services-container{
    flex-direction:column;
    align-items: center;

    h2{
        text-align: center;
    }
   }
    
}